.profile-image {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(113, 112, 112, 0.5);
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  object-position: center top;
}

/* Çok küçük ekranlar (mobil, telefon) */
@media (max-width: 576px) {
  .profile-image {
    max-width: 200px;
    max-height: 200px;
  }
}

/* Küçük tablet ve büyük telefonlar */
@media (min-width: 577px) and (max-width: 768px) {
  .profile-image {
    max-width: 250px;
    max-height: 250px;
  }
}

/* Orta boy tablet ve küçük dizüstü ekranlar */
@media (min-width: 769px) and (max-width: 992px) {
  .profile-image {
    max-width: 280px;
    max-height: 280px;
  }
}
